body {
  margin: 0;
  text-align: center;
  font-family: 'Cabin';
}

h5{
  line-height: 1.5;
}

.black-container {
  background-color: #344D67;
  color: #FFFFFF;
  padding: 20px 20px;
}

.gray-container {
  background-color: #B5BCC2;
  color: #344D67;
  padding: 50px 50px;
}

.white-container {
  background-color: #FFFFFF;
  color: #557B83;
  padding: 50px 50px;
}

.education-interior-container, .skills-interior-container, .skills-interior-container {
  width: 70%;
  margin: auto;
  text-align: left;
  margin-top: 30px;
}

.projects-top-container {
  padding-bottom: 5px;
}

.projects-bottom-container {
  padding-top: 5px;
}

.menu-container {
  padding: 10px 10px;
  text-align: left;
}

.presentation {
  font-size: 3rem;
}

.hello {
  margin: 20px;
}

.description {
  width: 30%;
  margin: auto;
}

.contact-link {
  color: #FFFFFF;
  margin: 20px;
}

.contact-link:hover {
  color: #557B83;
}

.education-icon, .projects-icon, .skills-icon {
  font-size: 3rem;
  margin-bottom: 10px;
}

.nav-link {
  color: #FFFFFF;
}

.nav-link:hover {
  color: #557B83;
}

.cv-button {
  margin-top: 30px;
  background-color: #B5BCC2;
  color: #557B83;
  font-weight: bold;
}

.cv-button:hover {
  background-color: #344D67;
  color: #FFFFFF;
}

.copyrights {
  margin: 20px;
}

.collapsed-content {
  margin-left: 25px;
}

.profile-picture-img {
  width: 15%;
}

.projects-button {
  background-color: #344D67;
  height: 30px;
  width: 30px;
  margin: auto;
  border-radius: 5px;
}

.project-img {
  width: 80%;
  border-radius: 10px;
  margin-top: 20px;
}

.project-img-small {
  width: 50%;
  border-radius: 10px;
  margin-top: 20px;
}

.git-link {
  font-size: 3.5rem;
  color: #344D67;
}

.git-link:hover {
  color: #557B83;
}

.university-container, .highschool-container {
  border-width: thick;
  border-radius: 10px;
}

.project-description {
  text-align: left;
  width: 80%;
}

.table-row{
  display: flex;
}

.column {
  flex: 50%
}

.project-link {
  color: #344D67;
  margin-bottom: 30px;
}

.project-link:hover {
  color: #557B83;
}
